name: macOS build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        project: [ binutils, gcc-12, gcc-13, gcc-14, gcc-15, mintbin ]
        target: [ m68k-atari-mint, m68k-atari-mintelf ]
        include:
          - project: binutils
            version: 2.45
            source_archive: https://ftp.gnu.org/gnu/binutils/binutils-2.45.tar.xz
          - project: gcc-12
            version: 12.4.0
            source_archive: https://ftp.gnu.org/gnu/gcc/gcc-12.4.0/gcc-12.4.0.tar.xz
          - project: gcc-13
            version: 13.4.0
            source_archive: https://ftp.gnu.org/gnu/gcc/gcc-13.4.0/gcc-13.4.0.tar.xz
          - project: gcc-14
            version: 14.3.0
            source_archive: https://ftp.gnu.org/gnu/gcc/gcc-14.3.0/gcc-14.3.0.tar.xz
          - project: gcc-15
            version: 15.2.0
            source_archive: https://ftp.gnu.org/gnu/gcc/gcc-15.2.0/gcc-15.2.0.tar.xz
          - project: mintbin
            version: 0.4
            source_archive: https://tho-otto.de/download/mint/mintbin-0.4.tar.xz
    steps:
      - uses: actions/checkout@v4
      - name: Install SSH keys
        if: ${{ github.event_name == 'push' }}
        env:
          SSH_ID: ${{ secrets.SSH_ID }}
        run: ./.scripts/install_ssh_id.sh
      - name: Install packages
        run: wget -nv ${{ matrix.source_archive }}
      - name: build
        env:
          BUILD_ARM64: yes
        run: |
          ./${{ matrix.project }}-build.sh ${{ matrix.target }}
          mkdir -p logs
          find . -name config.log | xargs tar cvfJ logs/${{ matrix.project }}-${{ matrix.target }}-logs.tar.xz
      - name: Store logs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.project }}-${{ matrix.target }}-logs.tar.xz
          path: logs/
          retention-days: 1
      - name: deploy
        if: ${{ github.event_name == 'push' }}
        env:
          COMMITER_NAME: ${{ github.event.commits[0].author.name }}
          COMMITER_EMAIL: ${{ github.event.commits[0].author.email }}
          PROJECT_NAME: ${{ matrix.project }}
          PROJECT_VERSION: ${{ matrix.version }}
          TARGET: ${{ matrix.target }}
        run: ./.scripts/deploy.sh
